.navbar {
  margin-bottom: 20px;
}

.veg {
  margin-left: 5px;
  margin-top: 8px;
  display: block;
  height: 12px;
  width: 12px;
  background-color: rgb(7, 143, 48);

  border-style: solid;
  border-width: 3px;
  border-color: black;
}
.non-veg {
  margin-left: 5px;
  margin-top: 8px;
  display: block;
  height: 12px;
  width: 12px;
  background-color: brown;

  border-width: 3px;
  border-style: solid;
  border-color: black;
}

.filter-pizza {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pizza-price {
  border-radius: 20px;
  background-color: indigo;
  padding: 4px 12px;
  color: aliceblue;
}
.pizza-rating {
  border-radius: 20px;
  background-color: rgb(6, 51, 105);
  padding: 4px 12px;
  color: aliceblue;
}

.flex-veg-nonveg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-margin {
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-card {
  margin-bottom: 20px;
  height: 250px;
  width: 680px;
}

.flex-card {
  box-shadow: 100px 50px 55px #0686d6;
  height: 242px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-count {
  color: rgb(7, 143, 48);
  border-style: solid;
  box-shadow: 2px 5px 5px #beb4b4;
  border-color: aliceblue;
  padding: 0 3px;
  border-radius: 10px;
  margin-top: 5px;
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90px;
}

.card-icon {
  /* background-color: #a3cde7; */
  /* margin-top: 5px; */
  height: 20px;
  width: 17px;
}

.count-num {
  color: black;
  /* background-color: #a3cde7; */
  /* margin-top: 4.5px; */
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0px;
  font-size: large;
}

.loader {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.padding {
  padding-right: 10px;
}

.close-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.no-image {
  display: none;
}

@media (min-width: 375px) and (max-width: 550px) {
  .flex-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .container-card {
    margin-bottom: 10px;
    margin-top: 20px;
    height: 278px;
    /* height: 300px; */
    width: 300px;
  }
  .flex-card {
    /* box-shadow: 100px 29px 55px #0686d6; */
    box-shadow: none;
    flex-direction: column;
  }
  .flex-veg-nonveg {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .pizza-price {
    padding: 2px 4px;
  }
  .pizza-rating {
    padding: 2px 4px;
  }
  .card-count {
    padding: 0 3px;

    width: 50px;
  }
  .count-num {
    font-size: small;
  }
  .veg {
    margin-left: 2px;
    margin-top: 4px;
    height: 5px;
    width: 5px;
    border-width: 1.5px;
  }
  .non-veg {
    margin-left: 2px;
    margin-top: 4px;
    height: 5px;
    width: 5px;
    border-width: 1.5px;
  }
  .img-size {
    padding-top: 50px;
    height: 350px;
    width: 380px;
  }
}

@media (min-width: 270px) and (max-width: 375px) {
  .flex-card {
    box-shadow: none;
    flex-direction: column;
  }
  .container-card {
    margin-bottom: 10px;
    margin-top: 20px;
    height: 268px;
    /* height: 300px; */
    width: 250px;
  }
  .card-count {
    flex-direction: row;
  }
  .img-size {
    padding-top: 50px;
    height: 300px;
    width: 340px;
  }
}
